.navbar-custom {
    background-color: #e29734;
    color: white;
    display: flex;
    align-items: center; 
}

.navbar-custom .nav-link {
    color: white;
    padding: 10px 15px;
}

.navbar-custom .nav-link:hover {
    background-color: #f7dcb4;
    color: black; 
    text-decoration: none; 
}

.navbar-custom .navbar-brand img {
    height: 30px;
}

.navbar-custom .navbar-toggler {
    border-color: #f7dcb4;
}

.navbar-custom .navbar-toggler-icon {
    background-image: none;
}

.navbar-custom .dropdown-menu {
    background-color: #e29734;
    color: white;
    border: none;
}

.navbar-custom .dropdown-item {
    color: white;
    border: none;
}

.navbar-custom .dropdown-item:hover {
    background-color: #f7dcb4;
    color: black;
}
